.abouthero {
  padding: 50px 100px 150px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.abouthero__heading {
  font-family: "Tenor Sans", sans-serif;
  font-size: 2.5rem;
  margin-top: 100px;
  margin-bottom: 50px;
}

.abouthero__img {
  background: url(backgroud.png) no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
}

.aboutpage__content {
  display: flex;
  margin: 0 100px;
  justify-content: space-between;
  margin-bottom: 150px;
}

.company__logo {
  height: 40px;
  margin-bottom: 25px;
}

.company__title {
  margin: 25px 0 10px 0;
  display: block;
  font-weight: bold;
}

.story {
  width: 1000px;
}

.story__heading {
  font-family: "Tenor Sans", sans-serif;
  font-size: 2rem;
  margin: 30px 0;
}

.story__para {
}

.story__bold {
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 12.5px;
}

@media only screen and (max-width: 1425px) {
  .story {
    width: 900px;
  }
}

@media only screen and (max-width: 1325px) {
  .story {
    width: 800px;
  }
}

@media only screen and (max-width: 1250px) {
  .company {
    display: none;
  }
  .story {
    width: auto;
  }
}

@media only screen and (max-width: 1000px) {
  .abouthero__img {
    height: 300px;
  }
  .abouthero {
    padding: 50px 100px 100px 100px;
  }
  .aboutpage__content {
    margin-bottom: 100px;
  }
}

@media only screen and (max-width: 800px) {
  .abouthero {
    padding: 50px;
  }
  .aboutpage__content {
    margin: 0 50px;
    margin-bottom: 100px;
  }
}

@media only screen and (max-width: 675px) {
  .abouthero__heading {
    font-size: 2rem;
  }
  .story__heading {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 500px) {
  .abouthero__heading {
    font-size: 1.5rem;
  }
  .story__heading {
    font-size: 1.1rem;
  }
  .abouthero__img {
    height: 200px;
  }
}

@media only screen and (max-width: 800px) {
  .abouthero {
    padding: 25px;
  }
  .aboutpage__content {
    margin: 0 25px;
    margin-bottom: 100px;
  }
}
