.abouthero {
  padding: 50px 100px 150px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.abouthero__heading {
  font-size: 2.5rem;
  margin-bottom: 50px;
}

.abouthero__img {
  width: 100%;
  background: linear-gradient(to right, #2c5da74a, #2c5da74a),
    url(https://images.unsplash.com/photo-1522071820081-009f0129c71c?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170)
      no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
}

.aboutpage__content {
    display: flex;
    margin: 0 100px;
    justify-content: space-between;
    margin-bottom: 150px;
}

.company__logo {
    height: 40px;
    margin-bottom: 25px;
}

.company__title {
    margin: 25px 0 10px 0;
    display: block;
}

.company__title:hover {
    text-decoration: underline;
}

.story {
    width: 1000px;
}

.story__heading {
    font-size: 2rem;
}

.story__para {
    color:  rgb(100, 100, 100);
    margin: 25px 0;
}

@media only screen and (max-width: 1425px) {
  .story {
    width: 900px;
  }
}

@media only screen and (max-width: 1325px) {
  .story {
    width: 800px;
  }
}

@media only screen and (max-width: 1250px) {
  .company {
    display: none;
  }
  .story {
    width: auto;
  }
}

@media only screen and (max-width: 1000px) {
  .abouthero__img {
    height: 300px;
  }
  .abouthero {
    padding: 50px 100px 100px 100px;
  }
  .aboutpage__content {
    margin-bottom: 100px;
  }
}

@media only screen and (max-width: 800px) {
  .abouthero {
    padding: 50px;
  }
  .aboutpage__content {
    margin: 0 50px;
    margin-bottom: 100px;
  }
}

@media only screen and (max-width: 675px) {
  .abouthero__heading {
    font-size: 2rem;
  }
  .story__heading {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 500px) {
  .abouthero__heading {
    font-size: 1.5rem;
  }
  .story__heading {
    font-size: 1.1rem;
  }
  .abouthero__img {
    height: 200px;
  }
}

@media only screen and (max-width: 800px) {
  .abouthero {
    padding: 25px;
  }
  .aboutpage__content {
    margin: 0 25px;
    margin-bottom: 100px;
  }
}