.button {
  cursor: pointer;
  padding: 10px 25px;
  font-size: medium;
  border: none;
  outline: none;
  background-color: transparent;
  border: 2px solid var(--secondary-color);
  display: block;
  margin: 25px 0;
  font-family: 'Poppins', sans-serif;
  transition: .2s ease;
}

.button--hover:hover {
  background-color: var(--tirtary-color);
  color: var(--primary-color);
  transition: 0.2s ease;
}

.button--round {
  color: var(--tirtary-color);
  border-radius: 0;
  border: 2px solid var(--tirtary-color);
}

.button--filled {
  background-color: #878787;
  color: var(--primary-color);
  transition: 0.2s ease;
}

.button--filled:hover {
  background-color: var(--tirtary-color);
  /* color: #111; */
}

.button__arrow {
  margin-left: 10px;
}