.contacthero {
  padding: 150px;
}

.contacthero__heading {
  font-family: "Tenor Sans", sans-serif;
  font-size: 3rem;
}

.contacthero__tagline {
  color: rgb(100, 100, 100);
  width: 500px;
}

.contact__one {
  transform: skewY(-2.5deg);
  color: var(--primary-color);
  padding: 100px 150px;
  background-color: #e8e8e8;
}

.contact__tagline {
  font-family: "Tenor Sans", sans-serif;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.contact__para {
  margin-bottom: 50px;
  text-align: center;
  width: 1000px;
}

.contact__details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: auto;
}

.contact__two {
  color: var(--secondary-color);
  padding: 100px 150px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact__form {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.contact__input {
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.05);
  color: var(--secondary-color);
  padding: 15px 30px;
  margin-bottom: 50px;
  font-size: medium;
  font-family: "Poppins", sans-serif;
  width: 900px;
  letter-spacing: 1px;
  border-radius: 5px;
}

select {
  color: #f2f2f280;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.05);
  /* color: var(--secondary-color); */
  padding: 15px 30px;
  margin-bottom: 50px;
  font-size: medium;
  font-family: "Poppins", sans-serif;
  width: 900px;
  letter-spacing: 1px;
  cursor: pointer;
  opacity: 0.8;
  border-radius: 5px;
}

option {
  color: var(--primary-color);
}

.contact__three {
  padding: 100px 150px;
  background-color: #e8e8e8;
  color: var(--secondary-color);
}

.button--contact {
  border-color: var(--secondary-color);
  color: var(--secondary-color);
  width: 200px;
}

.button--contact:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

/* ::placeholder {
    color: rgb(94, 94, 94);
} */

@media only screen and (max-width: 1000px) {
  .contact__one,
  .contact__two,
  .contact__three {
    padding: 100px 50px;
  }
  .contacthero {
    padding-left: 50px;
    padding-right: 50px;
  }
  .contact__form {
    width: 100%;
  }
  .contact__input {
    width: 100%;
  }
  select {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .contacthero__tagline {
    width: auto;
  }
}

@media only screen and (max-width: 500px) {
  .contact__one,
  .contact__two,
  .contact__three {
    padding: 100px 25px;
  }
  .contacthero {
    padding-left: 25px;
    padding-right: 25px;
  }
  .contact__form {
    width: 100%;
  }
  .contact__input {
    width: 100%;
  }
  select {
    width: 100%;
  }
  .button--contact {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .contacthero__heading {
    font-size: 2rem;
  }
  .contact__tagline {
    font-size: 1.5rem;
  }
  .contact__form {
    margin-top: 0px;
  }
}
