.footer {
  background-color: #0f0f0f;
  color: var(--secondary-color);
  width: 100%;
  padding: 100px;
}

.footer__links-container {
  width: 70%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.footer__links {
  display: flex;
  flex-direction: column;
}

.footer__heading {
  font-family: "Tenor Sans", sans-serif;
  color: var(--tirtary-color);
  margin-bottom: 25px;
}

.footer__link {
  margin: 5px 0;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__socials {
  display: flex;
  font-size: 1.2rem;
}

.footer__social {
  margin: 0 10px;
  font-size: 1.3rem;
}

@media only screen and (max-width: 1100px) {
  .footer__links-container {
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .footer__links-container {
    flex-direction: column;
  }
  .footer__links--margin {
    margin: 25px 0;
  }
}

@media only screen and (max-width: 500px) {
  .footer {
    padding: 50px;
  }
}

@media only screen and (max-width: 440px) {
  .footer {
    padding: 25px;
  }
}
