html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #f9f9f9;
  --secondary-color: #111;
  --tirtary-color: #7148e6;
}

/* ::selection {
  
  
} */

body {
  font-family: "Poppins", sans-serif;
}

a:active {
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

/* WEBSITE STYLING */

/* NAVBAR */

.navbar {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 50px;
  /* background: var(--secondary-color); */
  /* color: var(--primary-color);` */
  width: 100%;
  font-weight: bolder;
  color: #878787;
  /* position: fixed; */
  top: 0;
}

.navbar__logo {
  cursor: pointer;
  color: var(--tirtary-color);
}

.navbar__links {
  margin-left: auto;
  margin-right: 25px;
}

.navbar__link {
  margin: 0 25px;
  position: relative;
}

.navbar__link:after {
  content: "";
  position: absolute;
  background: #878787;
  height: 2px;
  width: 0;
  left: 0;
  bottom: 0px;
  transition: 0.2s linear;
}

.navbar__link:hover:after {
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  .navbar__links {
    display: none;
  }
  .navbar__hamburger {
    display: inline-block;
  }
}

#bars {
  z-index: 99;
  display: flex;
  position: relative;
  width: 25px;
  height: 3px;
  background: #878787;
  border-radius: 5px;
  /* box-shadow: 0px 2px 5px rgba(255, 101, 47, .2); */
  transition: all 0.5s ease-in-out;
}

#bars::before,
#bars::after {
  content: "";
  z-index: 99;
  position: absolute;
  width: 25px;
  height: 3px;
  background: #878787;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

#bars::before {
  z-index: 99;
  transform: translateY(-8px);
}

#bars::after {
  z-index: 99;
  transform: translateY(8px);
}

.open #bars {
  z-index: 99;
  /* transform: translateX(-50px); */
  background: transparent;
  box-shadow: none;
}

.open #bars::before {
  background-color: #fff;
  z-index: 99;
  transform: rotate(45deg);
}

.open #bars::after {
  background-color: #fff;
  z-index: 99;
  transform: rotate(-45deg);
}

/* __MENU */

#menu {
  background-color: var(--tirtary-color);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  transition: 0.25s ease-in-out;
  display: flex;
  align-items: center;
}

.menu__links {
  font-size: 5rem;
  display: flex;
  margin-left: 20%;
  flex-direction: column;
}

.menu__link {
  color: #fff;
  position: relative;
  opacity: 80%;
  transition: 0.2s ease-in-out;
  /* display: inline-block; */
  /* margin: 5px 0; */
}

.menu__link:hover {
  opacity: 100%;
}

/* .menu__link:after {
content: "";
position: absolute;
background: #fff;
height: 3px;
width: 0;
left: 0;
bottom: 0px;
transition: 0.2s linear;
}

.menu__link:hover:after {
width: 100%;
} */

.menu__socials {
  display: flex;
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: #fff;
}

.menu__icon {
  height: 50px;
  width: 50px;
  font-size: 1.3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  margin: 0 12.5px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.menu__icon:hover {
  background-color: #fff;
  color: #111;
}

/* HERO */

.hero__content {
  display: flex;
  padding: 100px 100px;
  padding-top: 0;
  align-items: center;
  justify-content: space-evenly;
}

.hero__text {
  margin-left: 50px;
}

.hero__heading {
  font-size: 3rem;
  font-weight: 800;
  color: var(--tirtary-color);
  width: 600px;
}

.hero__tagline {
  margin-top: 10px;
  color: #878787;
  width: 500px;
}

.hero__graphic {
  height: 600px;
}

#button {
  cursor: pointer;
}

/* SERVICES */

.services {
  margin: 0 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services__text {
  width: 370px;
  margin-right: 100px;
}

.services__para {
  font-weight: 400;
}

.services__heading {
  font-size: 3rem;
  width: 370px;
}

.button__arrow {
  transition: 0.2s ease;
}

.services__button:hover {
  color: var(--tirtary-color);
  border-color: var(--tirtary-color);
}

.services__button:hover .button__arrow {
  margin-left: 15px;
}

.services__services {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}

.service {
  background: #7248e620;
  padding: 25px;
  border-radius: 3px;
  margin-top: 25px;
  width: 300px;
}

.service__title {
  margin: 12.5px 0;
}

.service__img img {
  height: 50px;
}

/* UTILITY CLASSES */

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tag {
  color: var(--tirtary-color);
}

/* SWIPER */

.swiper {
  width: 100%;
  height: 100%;
}

/* .swiper-slide {
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
} */

.swiper-slide img {
  display: block;
  width: 60%;
  height: 100%;
  object-fit: cover;
}

/* MEDIA QUERRIES */

/* NAVBAR */

@media only screen and (max-width: 1000px) {
  .navbar__links {
    display: none;
  }
  #button {
    margin-left: auto;
  }
}

@media only screen and (max-width: 1160px) {
  .hero__content {
    flex-direction: column-reverse;
  }
  .hero__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .hero__text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
  }
  .hero__content {
    padding-top: 50px;
  }
  .hero__tagline {
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .hero__heading {
    width: auto;
    font-size: 2rem;
  }
  .hero__tagline {
    width: auto;
  }
  .hero__graphic {
    height: 400px;
  }
  .hero__content {
    padding: 25px;
  }
  .navbar {
    padding: 30px;
  }
}

@media only screen and (max-width: 500px) {
  .menu__links {
    font-size: 4rem;
    margin-left: 10%;
  }
}

@media only screen and (max-width: 1400px) {
  .services {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media only screen and (max-width: 1000px) {
  .services {
    margin: 0 50px;
  }
}

@media only screen and (max-width: 600px) {
  .services__text {
    width: 300px;
  }
  .services__heading {
    font-size: 2rem;
    width: 300px;
  }
}

@media only screen and (max-width: 426px) {
  .services {
    margin: 25px;
  }
}

@media only screen and (max-width: 360px) {
  .hero__graphic {
    height: 300px;
  }
}