html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #f9f9f9;
  --secondary-color: #111;
  --tirtary-color: #2c5ea7;
  --fortary-color: #878787;
}

::selection {
  background-color: var(--tirtary-color);
  color: var(--primary-color);
}

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

a:active {
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

/* WEBSITE STYLING */

/* NAVBAR */

.navbar {
  display: flex;
  align-items: center;
  padding: 50px;
  width: 100%;
  font-weight: bolder;
  color: var(--fortary-color);
  top: 0;
}

.navbar__logo {
  cursor: pointer;
  color: var(--tirtary-color);
  height: 50px;
}

.navbar__links {
  margin-left: auto;
  margin-right: 25px;
}

.navbar__link {
  margin: 0 25px;
  position: relative;
}

.navbar__link:after {
  content: "";
  position: absolute;
  background: var(--fortary-color);
  height: 2px;
  width: 0;
  left: 0;
  bottom: 0px;
  transition: 0.2s linear;
}

.navbar__link:hover:after {
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  .navbar__links {
    display: none;
  }
  .navbar__hamburger {
    display: inline-block;
  }
}

#bars {
  z-index: 99;
  display: flex;
  position: relative;
  width: 25px;
  height: 3px;
  background: var(--fortary-color);
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

#bars::before,
#bars::after {
  content: "";
  z-index: 99;
  position: absolute;
  width: 25px;
  height: 3px;
  background: var(--fortary-color);
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

#bars::before {
  z-index: 99;
  transform: translateY(-8px);
}

#bars::after {
  z-index: 99;
  transform: translateY(8px);
}

.open #bars {
  z-index: 99;
  background: transparent;
  box-shadow: none;
}

.open #bars::before {
  background-color: var(--primary-color);
  z-index: 99;
  transform: rotate(45deg);
}

.open #bars::after {
  background-color: var(--primary-color);
  z-index: 99;
  transform: rotate(-45deg);
}

/* __MENU */

#menu {
  z-index: 9;
  background-color: var(--tirtary-color);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  transition: 0.25s ease-in-out;
  display: flex;
  align-items: center;
}

.menu__links {
  font-size: 5rem;
  display: flex;
  margin-left: 20%;
  flex-direction: column;
}

.menu__link {
  color: var(--primary-color);
  position: relative;
  opacity: 80%;
  transition: 0.2s ease-in-out;
}

.menu__link:hover {
  opacity: 100%;
}

.menu__socials {
  display: flex;
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: var(--primary-color);
}

.menu__icon {
  height: 50px;
  width: 50px;
  font-size: 1.3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--primary-color);
  margin: 0 12.5px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.menu__icon:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

/* HERO */

.hero__content {
  display: flex;
  padding: 150px;
  padding-top: 100px;
  align-items: center;
  justify-content: space-evenly;
}

.hero__text {
  margin-left: 50px;
}

.hero__heading {
  font-size: 3rem;
  font-weight: 800;
  color: var(--tirtary-color);
  width: 500px;
}

.hero__tagline {
  margin-top: 10px;
  color: var(--fortary-color);
  width: 500px;
}

.hero__graphic {
  height: 400px;
}

#button {
  cursor: pointer;
}

.circle {
  background-color: #2c5da715;
  height: 500px;
  width: 500px;
  border-radius: 57% 43% 22% 78% / 68% 67% 33% 32% ;
  position: absolute;
  top: 150px;
  right: -100px;
  z-index: -1;
}

/* SERVICES */

.services {
  margin: 0 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services__text {
  width: 370px;
  margin-right: 100px;
}

.services__para {
  font-weight: 400;
}

.services__heading {
  font-size: 3rem;
  width: 370px;
}

.button__arrow {
  transition: 0.2s ease;
}

.services__button:hover {
  color: var(--tirtary-color);
  border-color: var(--tirtary-color);
}

.services__button:hover .button__arrow {
  margin-left: 15px;
}

.services__services {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.service {
  background: #2c5da715;
  padding: 25px;
  border-radius: 3px;
  margin-top: 25px;
  width: 300px;
}

.service__title {
  margin: 12.5px 0;
}

.service__img img {
  height: 50px;
}

/* ABOUT US */

.about {
 
}

/* UTILITY CLASSES */

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tag {
  color: var(--tirtary-color);
}

.link:hover {
  text-decoration: underline;
}

/* SWIPER */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 60%;
  height: 100%;
  object-fit: cover;
}

/* ABOUT */

.about {
  background-color: #f2f2f2;
  padding: 150px;
  margin-top: 150px;
}

.about__heading {
  font-size: 3rem;
}

.about__image {
  height: 500px;
  border-radius: 2px;
}

.about__content {
  margin-top: 50px;
  display: flex;
}

.about__text {
  color: rgb(100, 100, 100);
  width: 450px;
  margin-left: 50px;
  margin-top: 50px;
  line-height: 25px;
}

.about__about {
  margin: 10px 0;
  font-size: 1.1rem;
}

.about__about p {
  margin: 25px 0;
}

.about__name {
  color: var(--tirtary-color);
  font-size: 2.25rem;
}

.about__name:hover {
  text-decoration: underline;
}

/* MEDIA QUERRIES */

/* NAVBAR */

@media only screen and (max-width: 1000px) {
  .navbar__links {
    display: none;
  }
  #button {
    margin-left: auto;
  }
  .navbar__logo {
    height: 30px;
  }
  .hero__graphic {
    height: 400px;
    margin-top: 25px;
  }
}

@media only screen and (max-width: 1160px) {
  .hero__content {
    flex-direction: column-reverse;
  }
  .circle {
    top: -200px;
    left: -200px;
  }
  .hero__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .hero__text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
  }
  .hero__content {
    padding-top: 50px;
  }
  .hero__tagline {
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .hero__heading {
    width: auto;
    font-size: 2rem;
  }
  .hero__tagline {
    width: auto;
  }
  .hero__graphic {
    height: 400px;
  }
  .hero__content {
    padding: 25px;
    padding-bottom: 100px;
  }
  .navbar {
    padding: 30px;
  }
  .about__heading {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 500px) {
  .menu__links {
    font-size: 4rem;
    margin-left: 10%;
  }
}

@media only screen and (max-width: 1400px) {
  .services {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media only screen and (max-width: 1000px) {
  .services {
    margin: 0 50px;
  }
  .tilted {
    padding: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .services__text {
    width: 300px;
  }
  .services__heading {
    font-size: 2rem;
    width: 300px;
  }
  .about__name {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 650px) {
  .hero__graphic {
    height: 300px;
  }
}

@media only screen and (max-width: 426px) {
  .services {
    margin: 25px;
  }
}

@media only screen and (max-width: 426px) {
  .services {
    margin: 250px;
  }
}

@media only screen and (max-width: 360px) {
  .hero__graphic {
    height: 300px;
  }
}

@media only screen and (max-width: 1125px) {
  .about__image {
    height: auto;
  }
  .about__text {
    margin-top: 0;
  }
}

@media only screen and (max-width: 1000px) {
  .about {
    padding: 50px;
  }
  .about__content {
    flex-direction: column;
  }
  .about__text {
    margin: 0;
    margin-top: 50px;
    width: 400px;
  }
  .about__image {
    height: auto;
    width: 400px;
  }
}

@media only screen and (max-width: 475px) {
  .about__text {
    width: 100%;
  }
  .about__image {
    height: auto;
    width: 100%;
  }
}

@media only screen and (max-width: 440px) {
  .about {
    padding: 25px;
  }
  .services {
    margin: 0 25px;
  }
}

@media only screen and (max-width: 425px) {
  .hero__graphic {
    height: 250px;
  }
}

@media only screen and (max-width: 425px) {
  .hero__graphic {
    height: 200px;
  }
}

